@font-face {
  font-family: OpenSans-Regular;
  src: url("../font/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("../font/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
}

/*header*/

.header {
  min-width: 1220px;
  background-color: #000000;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}


.header {
  position: relative;
  z-index: 0;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  padding: 30px 15px 100px 15px;
  margin-left: auto;
  margin-right: auto; 
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.header__inner {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 1170px;
}

.header__logo {
  width: 180px;
}

.nav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.burger {
    display: none;
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  font-family: OpenSans-Regular, sans-serif;
}

.nav__list:nth-child(n+2) {
  margin-left: 35px;
}

.nav__link:after {
  content:"";
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: #ffffff;
  position: absolute;
  top: 100%;  
  z-index: 1;
  left: 0;
  transition: color .1s linear;
}

.nav__link:hover:after {
  opacity: 1;
}

.header-title {
  display: block;
  width: 690px;
  margin-left: auto;
  margin-right: auto; 
  color: #ffffff;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1.65;
  font-family: OpenSans-Bold, sans-serif;
  text-align: center;
  margin-top: 100px;
}

/*main page.blog*/

/*trends*/


.trends__section {
  box-sizing: border-box;
  min-width: 1220px;
  width: 100%;
  padding: 30px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto; 
}

.trends__title {
  display: flex;
  justify-content: center;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  padding: 0;
  margin: 33px 0 0 0;
}

.trends__title:after {
  content:"";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 40%;
  position: absolute;
  top: 100%;
  margin-top: 5px;
}

.trends__container {
  display: flex;
  flex-wrap: no-wrap;
}

.trends__container {
  margin-top: 35px;
}

.trend {
  width: 25%;
  min-height: 320px;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 0;
} 

.trend:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend:nth-child(n+2) {  
   margin-left: 4px; 
}
    
.trend1 {
  background-image: url("../images/trend1.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
/*  position: relative;
  z-index: 0;*/
}   

.trend2 {
  background-image: url("../images/trend2.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
/*  position: relative;
  z-index: 0;*/
}  

.trend3 {
  background-image: url("../images/trend3.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
/*  position: relative;
  z-index: 0;*/
}   

.trend4 {
  background-image: url("../images/trend4.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
/*  position: relative;
  z-index: 0;*/
}   


.trend__content {
  border: 3px solid rgba(181, 159, 91);
  padding: 33px;
  align-items: flex-end;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;

/*  z-index: 383;*/

}

.trend__title {
  font-family: OpenSans-Bold, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.trend__title:hover {
  color: #b59f5b;
}
/*.trends__section:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
*/



.main-page-content {
  min-width: 1220px;
} 

.main-page {
  display: flex;
  justify-content: space-between;
  width: 1170px; 
  padding: 64px 15px 44px;
  margin: 0 auto;
}

.content {
  width: 778px;
}

.blog {
  display: flex;
  flex-wrap: nowrap;
}

.blog:nth-child(n+2) {
  margin-top: 55px;
}

.blog-preview{
  box-sizing: border-box;
  width: 381px;  
}

.blog-image {
  width: 381px;
  object-fit: cover; 
}

.blog-info {
  margin-left: 30px;
  background-color: #ffffff;
}

.blog-tags-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.blog-tag {
  margin-right: 18px;
}

.blog-tag:last-child {
  padding-right: 0;
}

.blog-tag-link {
  font-family: OpenSans-Bold, sans-serif;
  color: #b59f5b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.blog-tag-link:hover {
  border-bottom: 1px solid #b59f5b;
}

h2 {
  margin: 0;
}

.blog-title {
  font-family: OpenSans-Bold, sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
}

.blog-title:hover {
  color: #b59f5b;
}

.date-autor {
  font-family: OpenSans-Bold, sans-serif;
  color: #000000;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 45px;
}

.last-blog-date {
  font-family: OpenSans-Regular, sans-serif;
  color: #888888;
  margin-right: 10px;
}

.blog-article {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 15px;
  
}

/*main page.sidebar*/
.sidebar {
  width: 272px;
}

.sidebar__title {
  display: flex;
  justify-content: center;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  padding: 0;
  margin: 0;
}

.sidebar__title:after {
  content:"";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 40%;
  position: absolute;
  top: 100%;
  margin-top: 10px;
}

.sidebar-post {
  margin-top: 35px;
}

.new__posts {
  display: flex;
  flex-wrap: nowrap;
}

.new__posts:nth-child(n+2) {
  margin-top: 22px;
}

.post-preview {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 70px;
  height: 70px;  
}

.post-image {
  width: 70px;
  height: 70px;
  object-fit: cover; 
}

.post-info {
  margin-left: 20px;
}

.last-post-date {
  display: block;
  font-family: OpenSans-Regular, sans-serif;
  color: #888888;
  font-size: 12px;
  padding: 0;
}

.post-title {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.post-title-link {
  text-decoration: none;
  color: #000000;
}

.post-title-link:hover {
  color: #b59f5b;
}

.search {
  display: flex;
  margin-top: 60px;
  margin-bottom: 55px;
  position: relative;
}

.field {
  box-sizing: border-box;
  width: 225px;
  height: 47px;
  border: none;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 13px;  
  background-color: #f4f7f6;
  padding-left: 20px;
}

.field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.search-button {
  width: 47px;
  height: 47px;
  border: none;
  background-color: #b59f5b;
  background-image: url("../SVG/search.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-button:hover {
  background-color: #323232;
}

.email__field {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  border: none;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 13px;  
  background-color: #f4f7f6;
  padding: 0px 20px;
  margin-top: 35px;
}

.email__field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.subscribe-button {
  width: 100%;
  height: 47px;
  border: none;
  background-color: #b59f5b;
  font-family: OpenSans-bold, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 60px;
}

.subscribe-button:hover {
  background-color: #323232;
}

.sidebar__tags {
 display: flex;
 flex-wrap: wrap;
 list-style-type: none;
 padding: 0;
 margin-top: 30px;
 margin-bottom: 50px;
}

.tags {
  display: block;
  margin: 7px 8px 0px 0px;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px 13px;
  text-decoration: none;
  color: #000000;
  border: 3px solid #f4f3f1;
  text-align: center;
}

.tags:hover {
  border: 3px solid #b59f5b;
}

.categories {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
}

.categories__link {
  margin-top: 11px;
  padding-bottom: 15px; 
  border-bottom: 1px solid #eeeeee;
}

.link {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}

.link:hover {
  color: #b59f5b;
}

.sub {
  color: #b59f5b;
  vertical-align: top;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 12px;
  margin-left: 4px;
}

.footer {
  width: 1220px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
}

.social-icons {
  box-sizing: border-box;
  width: 1170px;
  background-color: #f4f7f6;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 73px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 35px 0px 30px;
}

.social-icon-list {
  margin-right: 30px;
}

.social-icon-list:last-child {
  margin-right: 0;
}

.social-icon-link {
  display: block;
}

.social-icon__dribbble {
  background: url("../SVG/001-dribbble.svg") no-repeat;
  width: 20px;
  height: 20px;  
}

.social-icon__pinterest {
  background: url("../SVG/002-pinterest.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.social-icon__tumblr {
  background: url("../SVG/003-tumblr.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.copyrights {
  font-family: OpenSans-Bold, sans-serif;
  color: #999999;
  font-size: 12px;
  text-decoration: none;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*SHOP*/

.shop__container {
  box-sizing: border-box;
  width: 1200px;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.shop__title {
  display: flex;
  justify-content: center;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  padding: 0;
  margin: 10px 0px 45px 0px;
}

.shop__title:after {
  content:"";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 40%;
  position: absolute;
  top: 100%;
  margin-top: 5px;
}

.shop__block {
  margin-top: 20px;
}

.shop__block {
  display: flex;
  justify-content: space-between;
}

.shop__box {
  margin-bottom: 65px;
}

.shop__card {
  width: 345px;
  height: 430px;
}

.card__img {
  position: relative;
  z-index: 1;
  display: block;
  text-align: center;
}

.card__img::before {
  content: "";
  background-color: #000;
  width: 300px;
  height: 204px;
  opacity: 0.6;
}

.card__border {
  border: 3px solid #b59f5b;
  z-index: 2;
  height: 265px;
  padding: 20px;
  position: relative;
  margin-top: -40px;
}


.card3__border {
  border: 3px solid #b59f5b;
  z-index: 2;
  height: 265px;
  padding: 20px;
  position: relative;
  margin-top: -40px;
}

.card__title {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin: 30px 0px 0px 0px;
}

.card__text {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 15px;
  margin-top: 5px;
}

.card__text__link {
  color: #b59f5b;
  text-decoration: none;
}

.card__text__link:hover {
  text-decoration: underline;
}

.card__price {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.card__button {
  color: #fff;
  background-color: #b59f5b;
  border: 1px solid #b59f5b;
  cursor: pointer;
  width: 140px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.card__button:hover {
  background-color: #323232;
}

.sum__text {
  text-decoration: line-through;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  margin: 0;
}

.sum__text__fin {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 20px;
  margin: 0;
}

.fin__one {
  margin-top: 20px;
}

.box__links {
  background-color: #f4f7f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.links__icon {
  margin: 0 10px;
}

.icon__img {
  width: 20px;
}

.sign {
  margin: 72px auto 40px auto;
}

.sign__text {
  text-align: center;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 12px;
}
/*SHOP */

/*POPUP*/

._hidden {
  display: none;
}

.popup {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.popup__container {
    max-width: 390px;
    width: 95%;
    background-color: #ffffff;
    padding: 55px 30px;
    margin: auto;
    position: relative;
}

.feedback__title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: #0f0d0e;
}

.feedback__title::after {
    content: "";
    display: block;
    background: #e1d9bd;
    margin: 13px auto 5px;
    width: 65px;
    height: 3px;
}

.feedback__form {
    margin-top: 30px;
    font-size: 13px;
}

.select-group {
    display: block;
}

.select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;


    width: 100%;
    height: 50px;
    background-image: url("../svg/form-arrows.svg");
    background-color: #f4f7f6;
    background-repeat: no-repeat;
    background-position: right 12px center;
    cursor: pointer;
    border: none;
    background-size: 10px;
    margin-top: 10px;
    padding-left: 18px;
    padding-right: 18px;
}

.select:focus {
    outline: 1px solid #b59f5b;
}

.form-group {
    display: block;
    margin-top: 30px;
}

.form-hint {
    display: block;
    margin-bottom: 10px;
}

.radio-group {
    display: inline-block;
}

.radio-group-text {
    margin-right: 10px;
}

.radio-group-text::before {
    content: "";
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.radio:checked ~ .radio-group-text::before {
    background-image: url("../svg/form-circle.svg");
}

.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}

.field-textarea {
    padding-top: 20px;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    max-height: 130px;
    min-height: 130px;
    border: none;
    background-color: #f4f7f6;
    padding-left: 20px;
    resize: none;
    margin-top: 10px;
}

.field-textarea:focus {
    outline: 1px solid #b59f5b;
}

.send__button {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    background-color: #b59f5b;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
}

.send__button:hover {
    background-color: #84827a;
}

.popup__close {
    background-image: url("../svg/form-x.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 15px;
    height: 15px;
    font-size: 20px;

    position: absolute;
    top: -1.5em;
    right: 0;
}

.popup__close:before, .popup__close:after {
    content: "";
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
}





/*  ПОМЕНЯТЬ ИМЕНА КЛАССОВ   */

/*tablet*/



@media (min-width: 641px) and (max-width: 1199px) {

/*header*/

 .header {
    min-width: 768px;
    background-image: url("../images/banner-bg-tablet.jpg");
    background-position: center bottom;
 }

 .container {
    box-sizing: border-box;
    width: 768px;
    padding: 45px 35px 80px 35px;
 }

 .header__inner {
    width: 697px;
 }
 
 .header__logo {
    width: 157px;
 }

 .header__logo:hover {
    transform: none;
 }

 .burger {
    display: block;
 }

 .nav__list{     
    display: none;
 }

 .nav__button {
    display: block;
    width: 0.9em;
    height: 0.75em;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    border: none;
 } 

 .nav__button:before, .nav__button:after {
    content: "";
    width: 100%;
    height: 15%;
/*  border-radius: 5px;*/
    background-color: #ffffff;
    position: absolute;
    left: 0;
 }

 .nav__button:before {
    top: 0;
 }

 .nav__button:after {
    bottom: 0;
 }

 .nav__button-label {
    width: 100%;
    height: 15%;
    margin-top: -0.06em;
/*  border-radius: 5px;*/
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
 }

 .header-title {
    width: 625px;
    font-size: 40px;
    line-height: 1.5;
    margin-top: 80px;

 }

/* main page */

/*trends*/

.trends__section {
  min-width: 768px;
  width: 100%;
  padding: 20px 0px 0px 0px;
}

.trends__container {
  flex-wrap: wrap;
  margin-top: 30px;
}

.trend {
  width: 49.7%;
  margin-bottom: 3px;
  min-height: 248px;
  background-position: center bottom;
}

.trend:nth-child(n+2) {  
  margin-left: 0; 
}

.trend:nth-of-type(odd) {  
  margin-right: 0.3%; 
}

.trends__title {
  font-size: 18px;
  margin: 25px 0px 0px 0px;
}

.trend__title {
  font-size: 17px;
}

.trend__content {
  padding: 30px 30px 25px 30px;
  margin: 0px 15px 15px 20px;
}


.main-page-content {
  min-width: 768px;
} 

.main-page {
  width: 697px; 
  padding-top: 45px;
  padding-bottom: 33px;
}

.content {
  width: 697px;
} 

.blog {
  flex-wrap: wrap;
}

.blog:nth-child(n+2) {
  margin-top: 45px;
} 

.blog:nth-child(-n+4):after {
  content: "";
  display: block;
  background: #eeeeee;
  width: 393px;
  height: 2px;
}  

.blog-image {
  width: 390px;
  object-fit: cover; 
}

.blog-info {
  margin-left: 0;
  margin-top: 10px;
  width: 400px;
}

.blog-tags-list {
  font-size: 14px;
}

.blog-title {
  font-size: 17px;
  padd
}

.date-autor {
  margin-top: 25px;
  margin-bottom: 35px;
}

.shop__container {
  width: 697px;
  padding: 0px;
}

.shop__box {
  margin-bottom: 0px;
}

.shop__block {
  flex-wrap: wrap;
}

.shop__title {
  font-size: 18px;
}

.shop__card {
  width: calc(97%/2);
  margin-bottom: 60px;
}

.card__border { 
  height: 240px;
  padding: 20px 20px 0px 20px;
  margin: -35px 0px 0px 0px; 
}

.card3__border {
  height: 220px;
  padding: 25px 20px 0px 20px;
  margin: -45px 0px 0px 0px; 
  border: 3px solid #b59f5b;
  position: relative;
  z-index: 2;
}

.card__title {
  font-size: 17px;
}

/*footer*/

.footer {
  width: 768px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0px;
}

.social-icons {
  box-sizing: border-box;
  width: 697px;
  background-color: #f4f7f6;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 25px 0px 30px;
  margin: 0px 0px 45px 0px;
}

.social-icon-list {
  margin-right: 30px;
}

.social-icon-list:last-child {
  margin-right: 0;
}

.social-icon-link {
  display: block;
}

.social-icon__dribbble {
  background: url("../SVG/001-dribbble.svg") no-repeat;
  width: 20px;
  height: 20px;  
}

.social-icon__pinterest {
  background: url("../SVG/002-pinterest.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.social-icon__tumblr {
  background: url("../SVG/003-tumblr.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.copyrights {
  font-family: OpenSans-Bold, sans-serif;
  color: #999999;
  font-size: 11px;
  text-decoration: none;
}

}

/*mobile*/

@media (max-width: 640px) {
  .header {
    min-width: 360px;
    min-height: 100vh;
    background-image: url("../images/banner-mobile.jpg");
/*    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;*/
  }

  .container {
    display: flex;
/*    box-sizing: border-box;*/
    width: 360px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
 }

 .header__inner {
    width: 320px;
    flex-direction: column-reverse;
 }
 
 .header__logo {
    width: 267px;
    height: 234px;
 }

 .header__logo:hover {
    transform: none;
 }

 .burger {
    display: flex;
    align-items: flex-start;
 }

 .nav__list{     
    display: none;
 }

 .nav__button {
    display: block;
    width: 0.9em;
    height: 0.75em;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    border: none;
 } 

 .nav__button:before, .nav__button:after {
    content: "";
    width: 100%;
    height: 15%;
/*  border-radius: 5px;*/
    background-color: #ffffff;
    position: absolute;
    left: 0;
 }

 .nav__button:before {
    top: 0;
 }

 .nav__button:after {
    bottom: 0;
 }

 .nav__button-label {
    width: 100%;
    height: 15%;
    margin-top: -0.06em;
/*  border-radius: 5px;*/
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
 }

 .header-title {
    width: 280px;
    font-size: 26px;
    line-height: 1.5;
    margin-top: 0px;

 }

}
